html{
    font-size: 16px;
}

body{
    background-color: black;
    
    
   
}

header{
    display: block;
    text-align: center;
}

header h1{
    font-size: 3.125rem;
    color: white;
    
    font-weight: normal;
    font-family: Verdana, sans-serif;
}

header a{
    font-size: 1rem;
    color: aquamarine;
    font-family: Verdana;
    
}

.container{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.phone{
    margin: auto;
    padding: 1rem 0;
}

.nono{
    margin: auto;
    padding: 1rem 0;
    overflow: hidden; 
}

.nono h2{
   font-family: Verdana;
   font-weight: 300;
   font-size: 2.625rem;
   color: white;
}

.nono h4{
    font-size: 1.3125rem;
    color: grey;
    font-family: Verdana;
}

  .nono a{
    font-size: 1rem;
    color: aquamarine;
    font-family: Verdana;
    display: block;
    
}

.nono h3{
    float: right;
    color: grey;
    padding: 0.5rem;
    font-size: 1.5rem;
    bottom: 50%;
    
}



@media only  screen and (max-width: 720px){
    .container{
        padding: 1rem;
    }
    .nono{
        margin: 0px .5rem;
        padding: 1rem;
    }

    .nono h2{
        font-size: 2rem;
        line-height: 1.3;
    }
    .nono h4{
        font-size: .875rem;
        line-height: 1.4;
    }

}

@media only  screen and (max-width: 600px){
    .container{
        flex-flow: column;
        padding: 0;
    }
    .nono{
        margin: 0px .5rem;
        padding: 1rem;
    }

}
